/* Treba lepo reset uraditi ili bas za ovu navigaciju */

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    --white: hsl(0, 0%, 98%); 
    --gray: hsl(0, 0%, 41%);
    --black: hsl(0, 0%, 8%);

    --fs: 18px;
    --ff: 'Epilogue';
    --fw-500: 500;
    --fw-700: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: var(--fw-500);
}


/* Navigation menu */

.header {
    display: flex;
    width: 100vw;
}

.header__logo {
   
}

.header__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__nav-item,
.header__nav-sub-item {
    list-style: none;
}

.header__nav-item {
    padding: 0.3rem 0.7rem;
    margin: 0.5rem;
}

.header__nav-menu {
    width: 50%;
    display: flex;
}

.header__nav-login {
    width: 20%;
    display: flex;
}

.header__nav-item {
    list-style: none;
}

.header__nav-sub-menu {
    position: relative;
    cursor: pointer;
}

.nav__toggle-button {
    align-self: flex-end;
}

@media(max-width: 800px) {

    .header__nav-menu {
        flex-direction: column;
        align-items: flex-end;
    }

    .header__nav,
    .header__nav-login {
        flex-direction: column;
        width: 30%;
    }

}

/* Links */

.link {
    text-decoration: none;
    color: var(--black);
}

.link--menu {

}

.link--sub-menu {
    margin: 0.2rem 0.5rem 0;
}

/* Navigation sub-menu */

.sub-menu {
    position: absolute;
    width: max-content;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 1rem var(--gray);
    cursor: pointer;
}

.sub-menu__img {
    display: inline-block;
    width: 1.8rem;
}

.header__nav-sub-item {
    margin-top: 0.7rem;
    list-style: none;
    flex-basis: 0;
    flex-grow: 1;
}

.subMenuClosed {
    position: relative;
}

.subMenuClosed::after {
    content: url(./images/icon-arrow-down.svg);
    position: absolute;
    top: 0;
    left: 95%;
}

.subMenuOpened::after {
    content: url(./images/icon-arrow-up.svg);
    position: absolute;
    top: 0;
    left: 95%;
}

/* Hidden */

.hidden {
    width: 0px;
    height: 0px;
    padding: 0;
    overflow: hidden;
    border: none;
    background-color: transparent;
    box-shadow: none;
}

/*Animations */

@keyframes slideIn {

    0% {
        width: 0;
        overflow: hidden;
        height: 400px;
    }

    100% {
        width: 400px;
        height: 400px;
    }
}

.slideIn {
    animation: 5s normal slideIn;
    display: block;
}

.slideOut {
    animation: 3s reverse slideIn;
    animation-delay: 2s;
}


/* Hero section */

main {
    width: 100vw;
}

.hero {
    display: flex;
    flex-direction: column;
    margin: 10rem auto;
}

.hero__image {
    width: 100%;
}

.hero__image > img {
    width: 100%;
}

@media(min-width: 800px) {
    .hero {
        flex-direction: row-reverse;
    }
    

}
/* Attribution */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}