/* Treba lepo reset uraditi ili bas za ovu navigaciju */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li {
    width: fit-content;
    list-style: none;
}

/* Navigation menu */

/* .nav__toggle-button {
   width: 0;
   height: 0;
   overflow: hidden;
} */

header {
    display: flex;
    width: 100vw;
    position: relative;
}

.nav__toggle-button {
    align-self: flex-end;
}

.header__logo {
    flex-basis: 0;
    flex-grow: 1;
}


.header__nav {
    flex-basis: 0;
    flex-grow: 5;
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.header__nav-menu {
    width: 50%;
    display: flex;
}

.header__nav-login {
    width: 20%;
    display: flex;
}

.header__nav-item {
    list-style: none;
}

.header__nav-sub-item {
    list-style: none;
    flex-basis: 0;
    flex-grow: 1;
}

.hidden {
    width: 0;
    height: 0;
    overflow: hidden;
    border: none;
    background-color: transparent;
}

@keyframes slideIn {

    0% {
        width: 0;
        overflow: hidden;
        height: 400px;
    }

    100% {
        width: 400px;
        height: 400px;
    }
}

.slideIn {
    animation: 3s normal slideIn;
    animation-delay: 2s;
}

.slideOut {
    animation: 3s reverse slideIn;
    animation-delay: 2s;
}

@media(max-width: 800px) {

    .header__nav-menu {
        flex-direction: column;
        align-items: flex-end;
    }

    .header__nav,
    .header__nav-login {
        flex-direction: column;
        width: 30%;
    }

}

/* Attribution */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}